#layout-account {
  .layout-account-body {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    min-height: 100vh;
  }

  main {
    width: 100%;
    background-color: #dddddd;
    padding: 4rem;
  }

  .container-tabs {
    border-radius: 0.5rem;
    margin-top: 2rem;
    background-color: white;
    min-height: 60vh;
  }
}
