#layout-general {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;

  main {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}
