:root {
  /* Colors */
  --primary: #140342;
  --primary-hover: #0f9989;

  --secondary: #00ff84;
  --ternary: #6440fb;

  --black: #111827;
  --white: #ffffff;

  --bg-primary: #f0f0f8;

  --gray-primary: #6b7280;
  --gray-secondary: #455560;
  --gray-ternary: #f4f5f7;

  /* Alerts */
  --info: #0288d1;
  --success: #2e7d32;
  --warning: #ed6c02;
  --error: #d32f2f;
  --default: #ebebeb;

  /* Radius */
  --radius-025: 0.25em;

  /* Text */
  --text-light: 300;
  --text-regular: 400;
  --text-medium: 500;
  --text-blod: 600;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

* {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  color: var(--text-black);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

h3 {
  color: var(--primary);
  font-weight: 700;
  font-size: 1.875rem;
}

h4 {
  color: var(--primary);
  font-weight: 700;
  font-size: 1.063rem;
}

h5 {
  color: #4f547b;
  font-size: 0.938rem;
  font-weight: 500;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #6d7381;
  font-size: 0.938rem;
  line-height: 1.4rem;
}
